In [ ]:
#import datasets and load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import imageio
import os
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import statsmodels.api as sm
import warnings
import itertools






df_17=pd.read_csv('2017A.csv')
df_18=pd.read_csv('2018A.csv')
df_19=pd.read_csv('2019A.csv')
df_20=pd.read_csv('2020A.csv')
df_21=pd.read_csv('2021A.csv')
df_22=pd.read_csv('2022A.csv')
df_23=pd.read_csv('2023A.csv')
df_24=pd.read_csv('2024D.csv')
df_25=pd.read_csv('2025A.csv')



print(df_17.head(30))
print(df_17.tail())

In [ ]:
df_22.info()

In [ ]:
df_23.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_24.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_25.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_17.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_18.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_19.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_20.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_21.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

df_22.rename(columns={
    'Payroll[Org]': 'Org',
    'Payroll[CC]': 'CC',
    'Payroll[Subj]': 'Subj',
    'Payroll[S1]': 'S1',
    'Payroll[S2]': 'S2',
    'Payroll[Reference]': 'Reference',
    'Payroll[Employee Num]': 'Employee Num',
    'Payroll[Employee Name]': 'Employee Name',
    'Payroll[Payroll Group]': 'Payroll Group',
    'Payroll[Element]': 'Element',
    'Payroll[Hours]': 'Hours',
    'Payroll[Job & Home CC]': 'Job & Home CC',
    'Payroll[Period]': 'Period',
    'Calendar[Year]': 'Year',
    '[SumAmount]': 'Amount'
}, inplace=True)

In [ ]:

#if i want to see output not truncated add this:df.infor()
pd.set_option('display.max_rows', None)       # Show all rows
pd.set_option('display.max_columns', None)    # Show all columns
pd.set_option('display.width', None)          # Prevent line wrapping
pd.set_option('display.max_colwidth', None)   #show full column content

In [ ]:
dfs = [df_17, df_18, df_19, df_20, df_21, df_22, df_23, df_24, df_25]
for df in dfs:
    # Extract the first 4 digits from the Year string
    df['Year'] = df['Year'].str.slice(0, 4)

df = pd.concat(dfs, ignore_index=True)

print(df.head())

In [ ]:
df[['Amount']].head(20)

In [ ]:
#making negative values (that int he og dataset are in brackets) show as negative
df['Amount'] = (
    df['Amount']
    .astype(str)
    .str.replace(r'\((.*?)\)', r'-\1', regex=True)  # Convert (100) â†’ -100
    .astype(float)  # Convert to float
)

In [ ]:
df[['Amount']].head(20)

In [ ]:
df.info()

In [ ]:
# Frequency of each 'ref', sorted from least to most
ref_counts_sorted = df['Reference'].value_counts().sort_values()
print(ref_counts_sorted)

In [ ]:
#dropping columns Year S1 S2
df= df.drop(columns=[ 'S1','Org', 'S2',])

In [ ]:
##df stats
print(df.describe())

In [ ]:
#df info (dtype, columns, entries etc)
print(df.info())

In [ ]:
#checking for nulls
df.isnull().sum()

In [ ]:
#dropping all nulls except for those in hours and job &home cc
df=df.dropna(subset=df.columns.difference(["Hours", "Job & Home CC"]))

df.isnull().sum()

In [ ]:
#changing columns names so they are easier to type
df.columns= ['cc', 'subj', 'reference', 'employeenum', 'employeename', 'payrollgroup', 'payperiod', 'element', 'hours', 'job', 'period', 'year', 'amount']

In [ ]:
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')

In [ ]:
#filling nulls in job columns with 'no description'
df['job'] = df['job'].fillna('no description')

In [ ]:
#checking for remaining nulls
df.isnull().sum()

In [ ]:
#sorting by hours to see whats up with the nulls in hours
df_sorted = df.sort_values(by='hours', ascending=False)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_sorted.tail(100))

In [ ]:
#  fill hours null with 0.0 because of issues with uploading time sheets from itrent
#  to oracle a lot of the info in 'hours' is missing but it wont be necessary anyway so its fine
df['hours'] = df['hours'].fillna(0)
print(df.tail(30))

In [ ]:
#unique pay period entries
df['payperiod'].unique()

In [ ]:
df['payrollgroup'].unique()

In [ ]:
#funtion for monthly grand total for all time
def monthly_grand_total(df):
    # Ensure 'amount' is numeric
    df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
    
    # Group by month and sum the amounts
    monthly_total = df.groupby('payperiod')['amount'].sum()
    
    # Sort by month number (01 to 12)
    monthly_total = monthly_total.sort_index()
    
    return monthly_total
print(monthly_grand_total(df))

In [ ]:
#info
print(df.info())

In [ ]:
#check for duplicares
df.duplicated().sum()

In [ ]:
print(df[df['amount'] < 0].head(10))

In [ ]:
#yay no more nulls!
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
#monthly totals for each month and year
# First, convert string values to float
df['payperiod'] = df['payperiod'].astype(float)

# Then convert float to integer (now safe)
df['payperiod'] = df['payperiod'].astype(int)

amount_month= df.groupby(['year','payperiod'])['amount'].sum()
print(amount_month)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# THIS 
# identifying outliers first try (too many outliers given need to narrow it down a lot, giving better results with very high z score of 10 )
threshold = 10  # Z-score threshold
outlier_indices = []  # store indices of all outliers across years

for year in range(2017, 2026):
    df_year = df[df['year'] == year]
    
    if df_year.empty:
        print(f"\nYear {year}: No data available.")
        continue

    mean = np.mean(df_year['amount'])
    std = np.std(df_year['amount'])

    if std == 0:
        print(f"\nYear {year}: Standard deviation is zero. No outliers can be computed.")
        continue

    z_scores = (df_year['amount'] - mean) / std

    # Get the outlier rows and their indices
    outliers = df_year[np.abs(z_scores) > threshold]
    outlier_indices.extend(outliers.index)  # collect indices

    # preview
    outlier_count = len(outliers)
    print(f"\nYear: {year}")
    print(f"Mean: {mean}")
    print(f"Standard Deviation: {std}")
    print(f"Number of Outliers: {outlier_count}")
    print("Outliers:")
    print(outliers[['amount', 'payperiod', 'job', 'employeename']].to_string(index=False)
          if outlier_count > 0 else "None")

In [ ]:
# Drop all collected outlier rows
df = df.drop(index=outlier_indices)

In [ ]:
#identifying extreme outliers for each year more specific to 0.001% extreme outliers
#loop through each year from 2017 to 2025
for year in range(2017, 2026):
    #filter the dataset to only include rows for the current year
    df_year = df[df['year'] == year]
    
    #if no data skip to the next
    if df_year.empty:
        print(f"\nYear {year}: No data available.")
        continue

    #calculate percentile cutoffs to define extreme outliers
    #these are the lowest 0.001% and highest 0.001% of values
    lower_bound = df_year['amount'].quantile(0.00001)   #low values
    upper_bound = df_year['amount'].quantile(0.99999)  #high values

    #identify extreme outliers based on these percentiles
    #keep only the most extreme rows that fall outside cutoff range
    extreme_outliers = df_year[
        (df_year['amount'] < lower_bound) | 
        (df_year['amount'] > upper_bound)
    ][['amount', 'payperiod', 'reference']] #slect only key columns for clarity

    #display results for the current year
    print(f"\nyear: {year}")
    print(f"lower bound (0.001% percentile): {lower_bound}")
    print(f"upper bound (99.999% percentile): {upper_bound}")
    print(f"number of extreme outliers: {len(extreme_outliers)}")
    print("extreme outliers:")

    #print the extreme outliers table or'None' if there are none
    print(extreme_outliers.to_string(index=False) if not extreme_outliers.empty else "None")

In [ ]:
#specific outliers for 20203
threshold = 10  # Z-score threshold
outlier_indices2023 = []  # store indices of outliers for 2023

# Filter data for 2023
df_2023 = df[df['year'] == 2023]

if df_2023.empty:
    print("Year 2023: No data available.")
else:
    mean = np.mean(df_2023['amount'])
    std = np.std(df_2023['amount'])

    if std == 0:
        print("Year 2023: Standard deviation is zero. No outliers can be computed.")
    else:
        z_scores = (df_2023['amount'] - mean) / std

        # Identify outliers and collect indices
        outliers = df_2023[np.abs(z_scores) > threshold]
        outlier_indices.extend(outliers.index)

        outlier_count = len(outliers)

        print("\nYear: 2023")
        print(f"Mean: {mean}")
        print(f"Standard Deviation: {std}")
        print(f"Number of Outliers: {outlier_count}")
        print("Outliers:")
        print(outliers[['amount', 'payperiod', 'reference', 'job', 'employeename']].to_string(index=False)
              if outlier_count > 0 else "None")

In [ ]:
# Drop all collected outlier rows
df = df.drop(index=outlier_indices2023)

In [ ]:
df= df.drop(columns=['employeename', 'employeenum'])

In [ ]:
df.info()

In [ ]:
# Number of unique 'cc' values
print("Number of unique cc values:", df['cc'].nunique())

# Frequency/count of each unique 'cc' value
cc_counts = df['cc'].value_counts().sort_values(ascending=True)
print(cc_counts)

In [ ]:
# Basic stats
print(df['amount'].describe())

In [ ]:
#monthly totals for each month and year
# First, convert string values to float
df['payperiod'] = df['payperiod'].astype(float)

# Then convert float to integer (now safe)
df['payperiod'] = df['payperiod'].astype(int)

amount_month= df.groupby(['year','payperiod'])['amount'].sum()
print(amount_month)

In [ ]:
df.nunique()

In [ ]:
#delete the # when im ready to save this as a new document
df.to_csv("USE_THIS.csv", index=False)

In [ ]:
#comparison of 2017 with 2024
two_year_compare=df[df['year'].isin([2017,2018,2019,2020,2021,2022,2023,2024])]

amount_totals = two_year_compare.groupby(['year'])['amount'].sum().reset_index()

plt.figure(figsize=(10,5))

sns.lineplot(data=amount_totals, x='year',y='amount', palette='rocket', marker='o' )

plt.xticks(rotation=45)
plt.xlabel('year')
plt.ylabel('amount')
plt.title('comaprison of 2017 to 2024')

plt.show()

In [ ]:
#all years continuous graph
df_filtered = df[(df['year'] >= 2017) & (df['year'] <= 2025)].copy()
# Convert payperiod to numeric (float), coerce errors if any bad values
df_filtered['payperiod'] = pd.to_numeric(df_filtered['payperiod'], errors='coerce')

# Then convert to int
df_filtered['month'] = df_filtered['payperiod'].astype('Int64')  # 'Int64' allows NaNs if any

# Create a datetime column for the first day of each month
df_filtered['date'] = pd.to_datetime(dict(year=df_filtered['year'], month=df_filtered['month'], day=1))

# Group by the date and sum amount
monthly_totals = df_filtered.groupby('date')['amount'].sum()

import matplotlib.dates as mdates

# ... your code up to monthly_totals ...

# Ensure a continuous monthly index (start-of-month) from 2017-01 to 2025-12
full_idx = pd.date_range('2017-01-01', '2025-12-01', freq='MS')
monthly_totals = monthly_totals.reindex(full_idx, fill_value=0)

# Plot
fig, ax = plt.subplots(figsize=(30, 10))
ax.plot(monthly_totals.index, monthly_totals.values, marker='o', linestyle='-')
ax.set_title('Total Amount per Month from 2017 to 2025')
ax.set_xlabel('Month')
ax.set_ylabel('Total Amount')
ax.grid(True)

# Show month names on the x-axis
ax.xaxis.set_major_locator(mdates.MonthLocator(interval=1))             # every month
ax.xaxis.set_major_formatter(mdates.DateFormatter('%b %Y'))             # e.g., "Jan 2019"
fig.autofmt_xdate()                                                     # rotate + align nicely

plt.tight_layout()
plt.show()

In [ ]:
#boxplots
# We already have df_filtered with 'year', 'month', and 'amount'

# Group by year and month, summing amounts
monthly_totals_per_year = df_filtered.groupby(['year', 'month'])['amount'].sum().reset_index()

# Plot boxplot: x = year, y = monthly total amounts
plt.figure(figsize=(14, 7))
sns.boxplot(data=monthly_totals_per_year, x='year', y='amount')

plt.title('Distribution of Monthly Total Amounts per Year (2017-2025)')
plt.xlabel('Year')
plt.ylabel('Monthly Total Amount')
plt.xticks(rotation=45)
plt.grid(True, axis='y')
plt.tight_layout()
plt.show()

In [ ]:
#delete the # when im ready to save this as a new document
#df.to_csv("cleaned_data.csv", index=False)

In [ ]:
#most ocmmon cc doe august 2022
# Step 1: Filter for August 2022
# August = payperiod 5.0, year = 2022

august_2022 = df[(df['year'] == 2022) & (df['payperiod'] == 5.0)]

# Step 2: Find the most common CC
most_common_cc = august_2022['cc'].value_counts().idxmax()
count = august_2022['cc'].value_counts().max()

print(f"The most common CC in August 2022 is: {most_common_cc} (count: {count})")

In [ ]:
#cc with the highest total amoun in august 2017
# Step 1: Filter for August 2017 (payperiod 5.0)
august_2017 = df[(df['year'] == 2017) & (df['payperiod'] == 5.0)]

# Step 2: Group by CC and sum the amounts
cc_totals = august_2017.groupby('cc')['amount'].sum()

# Step 3: Get the CC with the highest total amount
top_cc = cc_totals.idxmax()
top_amount = cc_totals.max()

print(f"The CC with the highest total amount in August 2017 is: {top_cc} (Total Amount: {top_amount:,.2f})")

In [ ]:
#TOP 5 cc with highest totals
print(cc_totals.sort_values(ascending=False).head(5))